<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/scripts'); -%>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); -%>
    </header>
    <main>
      <br>
      <div class="container">
          <div class="notification">
              <h1 class="title is-3"><%= title %></h1>
              <br>
              <p>This site is Twitter/Facebook login test.</p>
              <br>
              <p>Used Techs:</p>
              <ul>
                <li>Node JS / Express JS</li>
                <li>Bulma Framework</li>
              </ul>
              <br>
              <p>Made by Jexulie in 2018 with 💩.</p>
          </div>
      </div>
    </main>
    <footer class="container">
        <%- include('../partials/footer'); -%>
    </footer>
  </body>
</html>
